@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

.main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    width: 100%;
    max-width: 1140px;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.title {
    font: normal normal bold 32px/30px PT Sans Caption;
    letter-spacing: 0px;
    color: #555555;
    padding: 0;
    margin-bottom: 5px;
}
.subTitle {
    text-align: left;
    font: normal normal bold 16px/24px PT Sans Caption;
    letter-spacing: 0px;
    color: #555555;
}
.search {
    width: 295px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}
.searchInput {
    width: 88%;
    border: none;
    padding-left: 15px;
}
.searchInput:focus{
    outline: none;
}
.searchInput::placeholder{
    font: italic normal normal 14px/19px PT Sans;
    color: #8E8E8E;
}
.buttonSearchContainer {
    width: 12%;
    padding-top: 4px;
}
.buttonSearch {
    padding-top: 2px;
    background: none;
    border: none;
    cursor: pointer;
}
.buttonSearch:hover {
    background: #ececec;
}
.buttonSearch:focus {
    outline: none;
}
.backHome {
    width: auto;
    max-width: 160px;
    height: 40px;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    font: normal normal normal 14px/20px PT Sans Caption;
    letter-spacing: 0px;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
    border: none;
    background-color: #167abc;
    border-radius: 3px;
    outline: none;
}
.backHome:hover {
    background-color: #5dafff;
}
.searchResult {
    padding-top: 10px;
    text-align: left;
    font: normal normal normal 16px/24px PT Sans Caption;
    letter-spacing: 0px;
    color: #555555;
}
.searchNull {
    margin-top: 20px;
    text-align: center;
}

.containerCharacter {
    display: flex;
    width: 100%;
    max-width: 1140px;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}
.characterContent {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding-left: 24px;
    flex-direction: row;
    text-align: left;
    margin-top: 20px;
}
.characterContentText {
    display: flex;
    width: 33.3333%;
    text-align: left;
    align-content: center;
    font: normal normal normal 12px/16px PT Sans;
    letter-spacing: 0px;
    color: #8E8E8E;
}

.characterContentBoxCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.characterContentBox {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}
.characterItems {
    display: flex;
    width: 100%;
    height: auto; 
    flex-direction: column;
}
.characterItems a {
    text-decoration: none;
}
.characterItemsBox {
    display: flex;
    height: 88px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 0px 5px #00000033;
    border-radius: 4px;
    margin-bottom: 8px;
    align-items: center;
    align-content: center;
    padding-left: 24px;
}
.characterContentCol {
    display: flex;
    width: 33.3333%;
    text-align: left;
    align-content: center;
}
.characterColumImg {
    width: 10%;
    display: flex;
    flex-direction: column;
}
.characterColum {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.characterImg {
    padding-right: 15px;
}
.characterTextName {
    font: normal normal bold 16px/22px PT Sans;
    letter-spacing: 0px;
    color: #555555;
}
.characterText {
    text-align: left;
    font: normal normal normal 14px/16px PT Sans;
    letter-spacing: 0px;
    color: #555555;
    margin: 2px;
}

.footer {
    background-color: #fff;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color: #fff;
  }
  .containerPagination {
    display: flex;
    width: 100%;
    max-width: 1140px;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  
  .paginationItem {
    display: flex;
    width: 40px;
    height: 32px;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    font: normal normal normal 14px/19px PT Sans;
    letter-spacing: 0px;
    color: #555555;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 16px;
    border-radius: 3px;
    cursor: pointer;
    outline:none;
  }
  .paginationItem:hover {
    background: #5dafff;
    border: 1px solid #5dafff;
    color: #ffffff;
  }
  .paginationItem.active {
    background: #167abc;
    border: 1px solid #167abc;
    color: #ffffff;
  }
  .paginationItem.focus {
    box-shadow: none;
  }
  .paginationItemDot {
    display: flex;
    width: 25px;
    height: 32px;
    font: normal normal normal 14px/19px PT Sans;
    letter-spacing: 0px;
    color: #555555;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 980px) {
    .container {
        margin-top: 10px;
    }
    .title {
        font: normal normal bold 22px/28px PT Sans Caption !important;
        text-align: center;
    }
    .subTitle {
        text-align: center;
        font: normal normal bold 14px/22px PT Sans Caption;
    }
    .search {
        width: 90%;
        margin: auto;
    }
    .backHome, .searchResult {
        margin-left: 15px;
    }
    .characterContentText {
        width: 90%;
        margin: auto;
    }
    .characterContentBox {
        width: 100%;
        text-align: center;
    }
    .containerCharacter {
        width: 90%;
    }
    .characterContentText {
        width: 90%;
        margin: auto;
        text-align: left;
        padding-left: 85px;
        padding-bottom: 10px;
    }
    .characterContentText.series, .characterContentText.events {
        display: none;
    }
    .characterContentCol {
        width: 100%;
    }
    .characterContentCol.series, .characterContentCol.events {
        display: none;
    }
  }